@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,600&display=swap');
*{
    background-color:#111;
}
body {
    height: 50;
    text-align:left;
    vertical-align:middle;
}
div.main-heading {
    width:80%;
}
 .main-heading h1 {
    font-family:"Alegreya",sans-serif;
    font-size: 120px;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    margin-left: 150px;
    margin-top: 170px;

    margin-bottom: 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    }
 .main-heading p {
    font-family:"Alegreya",sans-serif;
    font-size: 30px;
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #f0b4c8 0%, #B5FFFC 100%);
    margin-bottom: 0%;
    margin-left: 160px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    
}
div.lists {
    position:absolute;
    top:130px;
    right:1px;
   
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-end;
    height: 50%;
}

img.navbarimg{

    margin:10px 10px 0 0;
    width:50px;
    height:50px
}
img.navbarimg:hover{
    transform: scale(1.1,1.1);
    
}

.button {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #f0b4c8 0%, #B5FFFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:"Alegreya",sans-serif;
    transition-duration: 0.7s;
    margin-right: 20px;
    font-size: 32px;
  }
  
  .button:hover {
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  body {
	margin: 0;
  font-family: 'Merriweather', serif;
}

#wrap {
	position: relative;
	overflow: hidden;
}

section {
	box-sizing: border-box;
	position: relative;
	height: 100vh;
  background-color: #111;
	overflow: hidden;
	/* font-size: 10vmin;
	padding: 1em; */
	color: hsla(0, 0%, 100%, .8);
  background-position: center center;
  background-size: cover;
}




/* 
section:nth-child(3) {
  background-image: url('https://source.unsplash.com/O6vaYviRDoo/1920x1080');
}

section:nth-child(4) {
  background-image: url('https://source.unsplash.com/vPOYZac2hiE/1920x1080');
} */

#indicator {
    background-color: transparent;
  position: absolute;
  top: 70px;
  left: 20px;
  height: 100vh;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-self:flex-end;
}

#indicator > div {

  background-color: rgb(255, 255, 255);
  width:50px;
  height:10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  display: none;
}

#indicator > div.active {
  transform: scale(1.6);
}
#sound{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}
#sound:hover{
    cursor: pointer;
    border: 2px solid #111;
}

  
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #fff;


  
  
  
  border-radius:15px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #23272A;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;

}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #23272A;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #23272A;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 15px;
  height:auto;
  margin: 0;
  background-color: #23272A;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  background-color:#111
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  background-color:#111
}

section.team-main >div.container{
  position:relative;
  top:15%;
}

div.team-content,h3.name,h4.title{
  background:transparent;
  color:#111
}
img.img-fluid{
  background:transparent;
}
div.picture{
  background:transparent;
}