@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,600&display=swap');
html{
  scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin:0px;
    background-color:#111;
}
  /* .wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: pink;
    display: flex;
    flex-direction: column;
    /*height: 100vh;  */
  
.parent {
  z-index: 9999999;
  
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  

}
#home-page{
  padding-bottom:50%;
} 
/* .navbar {
  display: flex;
  justify-content: flex-start; 
  background-color: transparent;
  /*   */


.menu {
  display: flex;
  margin-top:10px;
  margin-left:120px;
  align-items: center;
  justify-content: flex-start;
  width:100%;  
  
}
a.navbaricons{
  
  padding: 20px;
  margin-left: 20px;
  color:white;
  font-size: 16px;
  text-decoration: none ;
  font-weight: bold;
 
  
}
a.navbaricons:hover{
  background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;

 text-decoration: none;
  transform: scale(1.2);

 

}

/* nav{
  display:flex;
  left:40%;
  
  
  position: fixed;

  
} */

body {
   
    background-color:#111;
    
  
}
div.main-heading {
    width:80%;
    background-color: transparent;
}
 .main-heading h1 {
    font-family:"Alegreya",sans-serif;
    font-size: 120px;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    margin-left: 150px;
    margin-top: 170px;

    margin-bottom: 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    }
 .main-heading p {
    font-family:"Alegreya",sans-serif;
    font-size: 30px;
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #f0b4c8 0%, #B5FFFC 100%);
    margin-bottom: 0%;
    margin-left: 160px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    
}
div.lists {
    position:absolute;
    top:130px;
    right:1px;
   
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-end;
    height: 50%;
}

img.navbarimg{

    margin:10px 10px 0 0;
    width:50px;
    height:50px
}
img.navbarimg:hover{
    transform: scale(1.1,1.1);
    
}

/* .button {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #f0b4c8 0%, #B5FFFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:"Alegreya",sans-serif;
    transition-duration: 0.7s;
    margin-right: 20px;
    font-size: 32px;
  } */
/*   
  .button:hover {
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  body {
	margin: 0;
  font-family: 'Merriweather', serif;
}

/* #wrap {
	position: relative;
	overflow: hidden;
} */

/* section {
	box-sizing: border-box;
	position: relative;
	height: 100vh;
  background-color: #111;
	overflow: hidden;
	/* font-size: 10vmin;
	padding: 1em; */
	/* color: hsla(0, 0%, 100%, .8);
  background-position: center center;
  background-size: cover;
} */ 




/* 
section:nth-child(3) {
  background-image: url('https://source.unsplash.com/O6vaYviRDoo/1920x1080');
}

section:nth-child(4) {
  background-image: url('https://source.unsplash.com/vPOYZac2hiE/1920x1080');
} */

/* #indicator {
    background-color: transparent;
  position: absolute;
  top: 70px;
  left: 20px;
  height: 100vh;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-self:flex-end;
} */

/* #indicator > div {

  background-color: rgb(255, 255, 255);
  width:50px;
  height:10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  display: none;
} */

/* #indicator > div.active {
  transform: scale(1.6);
} */
#sound{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}
#sound:hover{
    cursor: pointer;
    border: 2px solid #111;
}


.our-team {
  padding: 30px 0 140px 0;
  margin-bottom: 30px;
  
  
  
  


  
  
  transition: all 0.7s ease 0s;
  border-radius:15px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.our-team>div.tri{
  display: inline-block;
  background-image: url("https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  width:100%;
  height: 100%;
  z-index: 1;
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.7s ease 0s;
}
.our-team:hover >div.tri{
  filter:blur(20px);
  
}
.our-team:hover{
  transition: all 0.9s ease 0s;
  transform: scale(1.1);
}


.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

/* .our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #23272A;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
} */





.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  
  transform: scale(1.1);
}

.our-team .title {
  position:absolute;
  left:0px;
  right:0px;
  margin: 0 auto 0 auto;
  font-size: 15px;
  color: white;
  z-index:1;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 15px;
  height:auto;
  margin: 0;
  background-color: transparent;
  position: absolute;
  bottom: -100px;
  z-index: 1;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  
  display: inline-block;
  background-color:transparent;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  background-color:transparent;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  transform:scale(1.4);
  transition: all 0.3s ease 0s;
}
div.container{
 
  width: 70%;
}
section.team-main >div.container{
  position:relative;
  top:15%;
  
}

h3.name{
  position:relative;
  top:50%;
  z-index: 1;
  left:0px;
  right:0px;
  color: #FFFFFF;
  margin: 0 auto 0 auto;
  font-family: "Dancing Script",sans-serif;
  font-weight: 800;
}
h4.title{
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
}
div.team-content,h3.name,h4.title{
  background:transparent;
  
 
}
img.img-fluid{
  background:transparent;
}
div.picture{
  background:transparent;
}
div.row{
  border-radius: 25px;
  padding:10px
}
div.row{
  

}
div.row >div{
  background:transparent;
}

  
  
h1.maintitle{
  text-align: center;
  font-family:"Dancing Script",sans-serif;
    font-size: 120px;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #f0b4c8 0%, #B5FFFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}