@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,600&display=swap');
*{
    background-color:#111;
}
body {
    height: 50;
    text-align:left;
    vertical-align:middle;
}
div.main-heading {
    width:80%;
}
 .main-heading h1 {
    font-family:"Alegreya",sans-serif;
    font-size: 120px;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    margin-left: 150px;
    margin-top: 170px;

    margin-bottom: 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    }
 .main-heading p {
    font-family:"Alegreya",sans-serif;
    font-size: 30px;
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #f0b4c8 0%, #B5FFFC 100%);
    margin-bottom: 0%;
    margin-left: 160px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    
}
div.lists {
    position:absolute;
    top:130px;
    right:1px;
   
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-end;
    height: 50%;
}

img.navbarimg{

    margin:10px 10px 0 0;
    width:50px;
    height:50px
}
img.navbarimg:hover{
    transform: scale(1.1,1.1);
    
}

.button {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #f0b4c8 0%, #B5FFFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:"Alegreya",sans-serif;
    transition-duration: 0.7s;
    margin-right: 20px;
    font-size: 32px;
  }
  
  .button:hover {
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  body {
	margin: 0;
  font-family: 'Merriweather', serif;
}

#wrap {
	position: relative;
	overflow: hidden;
}

section {
	box-sizing: border-box;
	position: relative;
	height: 100vh;
	overflow: hidden;
	font-size: 10vmin;
	padding: 1em;
	color: hsla(0, 0%, 100%, .8);
  background-position: center center;
  background-size: cover;
}



section:nth-child(2) {
  background-image: url('https://source.unsplash.com/jWskS_wLMDo/1920x1080');
}

section:nth-child(3) {
  background-image: url('https://source.unsplash.com/O6vaYviRDoo/1920x1080');
}

section:nth-child(4) {
  background-image: url('https://source.unsplash.com/vPOYZac2hiE/1920x1080');
}

#indicator {
    background-color: transparent;
  position: absolute;
  top: 70px;
  left: 20px;
  height: 100vh;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-self:flex-end;
}

#indicator > div {

  background-color: rgb(255, 255, 255);
  width:50px;
  height:10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

#indicator > div.active {
  transform: scale(1.6);
}
#sound{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}
#sound:hover{
    cursor: pointer;
    border: 2px solid #111;
}